body {
    min-height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 65px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #161a2d;
    border: 10px #F0F4FF;
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover {
    width: 250px;
    box-shadow: rgba(89, 89, 109, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

main {
    background-color: #f5f5f5;
    display: flex;
    height: 100vh;
    margin-left: 65px;
    box-sizing: border-box;
}

.sideContain {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
